# =========================================================
# Dataset
# =========================================================

Dataset/
dataset/
data/


# =========================================================
# YOLO Training Files
# =========================================================

runs/
outputs/
wandb/


# =========================================================
# Uploaded Images
# Keep folder but ignore files
# =========================================================

backend/uploads/*
!backend/uploads/.gitkeep


# =========================================================
# Generated Result Images
# Keep folder but ignore images
# =========================================================

backend/results/*
!backend/results/.gitkeep


# =========================================================
# Logs
# Keep application log file for demo
# Ignore future logs
# =========================================================

backend/logs/*
!backend/logs/app.log


# =========================================================
# Detection History
# Keep history JSON for demo
# Ignore temporary files
# =========================================================

backend/history/*
!backend/history/detection_history.json


# =========================================================
# Python Cache
# =========================================================

__pycache__/
*.py[cod]
*$py.class


# =========================================================
# Virtual Environment
# =========================================================

venv/
.venv/
env/
ENV/


# =========================================================
# Environment Variables
# =========================================================

.env
.env.*


# =========================================================
# Jupyter Notebook
# =========================================================

.ipynb_checkpoints/


# =========================================================
# IDE Settings
# =========================================================

.vscode/
.idea/


# =========================================================
# Streamlit
# =========================================================

.streamlit/secrets.toml


# =========================================================
# OS Generated Files
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# Temporary Files
# =========================================================

*.tmp
*.temp
*.bak


# =========================================================
# Model Cache
# =========================================================

*.cache