fastapi
uvicorn
streamlit

torch
torchvision
torchaudio

ultralytics

opencv-python
Pillow

numpy
pandas

matplotlib
seaborn

scikit-learn

pyyaml
tqdm
requests

scikit-image
albumentations
python-multipart